#commentSection{
    width: 100%;
    height: 500px;
    background-color: rgb(239, 222, 222);
}

.comment p span {
    font-size: 12px;
    color: gray;
    margin-left: 12px;
}
.comment {
    border-bottom: 1px solid gray;
    padding: 10px;
    background-color: white;
}
.comment .commentText{
    margin-top: 0px;
}
.comment .commentHead{
    margin-bottom: 0px;
}